@import "@/assets/css/config.scss";

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  margin: 0 64px;
  width: 100%;
  gap: 160px;
}

.getStartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.getStartContainer__leftside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50%;
}

.getStartContainer__title {
  @include heading-1-a;
  color: $white;
}

.getStartContainer__discription {
  @include paragraph-1-a;
  color: $white;
}

.getStartContainer__Button {
  padding: 19px 50px;
  max-width: 224px;
}

.getStartContainer__statsContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.getStartContainer__stats {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.getStartContainer__header {
  @include heading-2-a;
  color: $white;
  margin: 0;
}

.getStartContainer__text {
  @include paragraph-3-a;
  color: $white;
  margin: 0;
}

.getStartContainer__rightside {
  width: 50%;
}

.collectionContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.collectionContainer__title {
  @include heading-3-a;
  color: $white;
}

.collectionContainer__discription {
  @include paragraph-1-a;
  color: $white;
}

.cardsCollections {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.topCreators {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avtorCard {
  width: calc(100% / 4 - 30px * 3 / 4);
}

.topCreators {
  display: flex;
  flex-direction: column;
}

.topCreators__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topCreators__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topCreators__header {
  color: $white;
  @include heading-3-a;
}

.topCreators__discription {
  color: $white;
  @include paragraph-1-a;
}

.topCreatorsButton {
  padding: 19px 50px;
  gap: 12px;
}
