@import "@/assets/css/config.scss";

* {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
}

.header {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.header__nav {
  display: flex;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  background: $purple;
  border-radius: 20px;
  border: none;
  gap: 12px;
  color: $white;
}
