@import "@/assets/css/config.scss";

.inputConteiner {
  width: 100%;
  border-radius: $radius;
  background: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inputBox {
  padding: 19px 20px 19px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 19px 50px;
  align-items: center;
  justify-content: center;
}
