@import "@/assets/css/config.scss";

.input {
  @include paragraph-1-a;
  background: $white;
  color: $grey-1;
  border-radius: $radius;
  border: none;
  padding: 0 20px;
  height: 50px;
  outline: none;
}
