@import "@/assets/css/config.scss";

.container {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.leftside {
  width: 50%;
  object-fit: cover;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  @include heading-2-a;
  color: $white;
  margin: 0;
}

.discription {
  @include paragraph-1-a;
  color: $white;
  margin: 0;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  border: 1px solid $grey-3;
  border-radius: $radius;
  padding: 20px 13px;
}

.button {
  @include paragraph-2-a;
  color: $white;
  padding: 12px 0;
}

.account {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.account__text {
  color: $white;
  @include paragraph-2-a;
}

.account__button {
  color: $purple;
}
