@import '@/assets/css/config.scss';

* {
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nft {
    max-width: 330px;
    max-height: 330px;
}

.moreNft {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.smallNft {
    max-width: 100px;
    max-height: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    @include heading-5-a
}

.avtorInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.avtor {
    max-width: 24px;
    max-height: 24px;
    border-radius: 100%;
}

.nick {
    @include paragraph-4-a
}